@font-face {
    font-family: "Exo2Regular";
    src: url("../fonts/Exo2-Regular.eot");
    src: url("../fonts/Exo2-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('../images/background.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Exo2Regular';
}

.container-body {
    margin: 0px auto;
    padding: 0px 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    max-width: 1200px;
    font-family: 'Exo2Regular';
}

.social-networks {
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
    align-items: center;
    column-gap: 4px;
    margin-bottom: -25px;
}

.social-networks-item {
    width: 30px;
    height: 30px;
    margin: 20px 15px;
    background-position: center;
    background-size: cover;
    border: 2px solid #d1d1d1;
    border-radius: 50%;
}

.social-networks-item:hover {
    border-color: #e31e24;
}

.vk-item {
    background-image: url('../images/social-netwoks/vk_grey.png');
}

.vk-item:hover {
    background-image: url('../images/social-netwoks/vk_red.png');
}

.fb-item {
    background-image: url('../images/social-netwoks/fb_grey.png');
}

.fb-item:hover {
    background-image: url('../images/social-netwoks/fb_red.png');
}

.insta-item {
    background-image: url('../images/social-netwoks/insta_grey.png');
}

.insta-item:hover {
    background-image: url('../images/social-netwoks/insta_red.png');
}

.search-item {
    background-image: url('../images/social-netwoks/search_grey.png');
}

.search-item:hover {
    background-image: url('../images/social-netwoks/search_red.png');
}

.social-networks-item-href {
    display: block;
    width: 100%;
    height: 100%;
}

.top-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-bottom: 20px;
}

.logo-item {
    width: 350px;
    height: auto;
}

.logo-item-href {
    display: block;
    width: 100%;
    height: 100%;
}

.menu-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    flex-flow: row wrap;
}

.menu-desktop-item {
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.menu-desktop-item:hover {
    color: #e31e24;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    flex-flow: row wrap;
}

.content-header-title {
    font-size: 25px;
    font-family: "Exo2Regular";
    font-weight: 700;
    text-transform: uppercase;
}

#slider-main {
    margin-bottom: 25px;
}

.brand-content {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-flow: row wrap;
}

.brand-item {
    background-size: cover;
    background-position: center;
    padding: 5px;
    margin: 10px;
    width: 60px;
    height: 60px;
    background-color: #f6f6f2;
    box-sizing: content-box;
}

.brand-item:hover {
    background-color: white;
    box-shadow: 0px 0px 14px 2px rgba(163,163,143,1);
    transition: box-shadow 0.3s;
}

.brand-item-href {
    display: block;
    height: 100%;
    width: 100%;
}

.content-body {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-flow: row wrap;
    padding-bottom: 25px;
    column-gap: 15px;
    row-gap: 15px;
}

.content-item {
    width: 24%;
    min-width: 200px;
}

.content-item-image-content {
    width: 100%;
}

.content-item-image {
    background-position: center;
    background-size: cover;
    width: 100%;
}

.content-item-header {
    text-align: left;
    margin: 25px 0px;
}

.content-item-text {
    max-height: 360px;
    height: 100%;
    overflow: hidden;
    text-align: left;
    transition: 0.3s ease-in-out;
}

.content-item-text:hover {
    transition: 0.3s ease-in-out;
    max-height: 900px;
}

.content-text {
    font-family: 'Exo2Regular';
    font-size: 14px;
    font-weight: 500;
}

.menu-mobile {
    display: none;
}

.menu-mobile-action-search {
    width: 25px;
    height: 25px;
    background-position: center;
    background-size: cover;
}

.menu-mobile-action-hamburger {
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
}









.menu-mobile-container {
    position: fixed;
    top: 0px;
    right: -285px;
    height: 100%;
    width: 285px;
    text-align: left;
    color: #ffffff;
    z-index: 1;
    background-color: rgba(59, 59, 59, 0.9);
    transition: all 0.7s;
}

.menu-mobile-action-href {
    display: block;
    width: 100%;
    height: 100%;
}

.menu-mobile-container-header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-mobile-container-header img {
    width: 40px;
}

.menu-mobile-container-header-close-item {
    height: 100%;
    padding-top: 25px;
    padding-left: 15px;
}

.menu-mobile-container-header-opened-item {
    background-color: #e31e24;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 20px;
    height: 100%;
}

.menu-mobile-container-body {
    margin-top: 100px;
}

.menu-mobile-container-list {
    display: block;
    list-style-type: none;
}

.menu-mobile-container-list-item {
    font-family: 'Exo2Regular';
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.menu-mobile-container-list-item a {
    text-decoration: none;
    color: #ffffff;
}

.menu-mobile-container-list-item a:hover {
    color: #ffffff;
}

@media(max-width: 500px) {
    .container-body {
        padding: 0px 10px;
    }

    .content-item {
        width: 100%;
    }

    .brand-content {
        justify-content: center;
    }

    .menu-desktop {
        display: none;
    }

    .content-item-text {
        max-height: 900px;
        text-align: justify;
    }

    .social-networks {
        display: none;
    }

    .container-body {
        padding-top: 25px;
    }

    .top-content {
        flex-flow: row nowrap;
    }

    .logo-item {
        max-width: 80%;
    }

    .menu-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        column-gap: 15px;
    }
}

